priority 1

snippet vec "std::vector"
std::vector<${1}> $0
endsnippet

snippet uniq "std::uniqure_ptr"
std::uniqure_ptr<${1}> $0
endsnippet

snippet cout "std::cout"
std::cout << ${1} << std::endl;$0
endsnippet
