priority 1

snippet colr_p "color purple"
#C25E6E
endsnippet

snippet colr_lb "color light blue"
#B4E3DA
endsnippet

snippet colr_y "color yellow"
#ECAD7C
endsnippet

snippet colr_g "color green"
#5AAA9A
endsnippet

snippet colr_grey "color grey"
#7779A8
endsnippet

snippet colr_lgrep "color light grey"
#A0BBCB
endsnippet

snippet colr_ry "color red yellow"
#E6BEC5
endsnippet

snippet colr_b "color black"
#6C6B74
endsnippet
